@font-face {
    src: url(../Fonts/VarelaRound-Regular.ttf);
    font-family: 'VarelaRound';
}


@font-face {
    src: url(../Fonts/FasterOne-Regular.ttf);
    font-family: 'FasterOne';
}


@font-face {
    src: url(../Fonts/Formula1-Bold_web_0.ttf);
    font-family: 'Formula1-Bold';
}

@font-face {
    src: url(../Fonts/Formula1-Regular_web_0.ttf);
    font-family: 'Formula1-Regular';
}